<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>FECM平台-漏洞详情</title>
	<import type='css' file="css.library.bootstrap.bootstrap,css.library.sweetalert,css.base.base,css.branch.details"/></head>
<body>
	<include file="Public/include/nav.html" />
	<gt name="bugDataInfo|count" value="0">
	<div class="container">
		<ul class="details-list">
		<volist name="bugDataInfo" id="vo">
			<li>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">
				<div class="item-card">
					<span>{$vo.url}</span>
					<small class="{$vo.fixes}"></small>
					<span>{$vo.time}</span>
				</div>
				</a>
				<div class="btn-group">
					<button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">功能</button>
					<ul class="dropdown-menu pull-right">
					<span class="hidden">{$vo.id}</span>
					<eq name="vo.fixes" value="background-red">
						<li>
							<a onclick="fixesVul(this)"><span class="glyphicon glyphicon-edit"></span>已修复</a>
						</li>
					</eq>
						<li>
							<a onclick="deleteVul(this)"><span class="glyphicon glyphicon-trash"></span>删除</a>
						</li>
					</ul>
				</div>
			</li>
			</volist>
		</ul>
	</div>
	<else/>
	<blockquote>
		<span>暂无攻击，请继续保持</span>
	</blockquote>
	</gt>
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="gridSystemModalLabel">漏洞详情</h4>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
</body>
<import file="js.library.jquery,js.library.bootstrap,js.library.sweetalert,js.library.Chart,js.base.base"/>
<script type="text/javascript">
function deleteVul(val){
	swal({
		type: "warning",
		title: "",
		text: '你将会删除此漏洞详情',
		html: true,
		showCancelButton: true,
		cancelButtonText:"取消",
		confirmButtonText:"确定"
	},
	function(){
		var valId = $(val).parents("ul:first").find("span:first").text();
		$.getJSON('/Api/deleteVul/id/' + valId,function(json){
			swal(json.typeMsg, json.msgText, json.typeMsg);
			if(json.refresh == 1){
				location.reload(true);
			}
		});
	});
}
function fixesVul(val){
	swal({
		type: "warning",
		title: "",
		text: '此漏洞状态将会修改为“已修复”',
		html: true,
		showCancelButton: true,
		cancelButtonText:"取消",
		confirmButtonText:"确定"
	},
	function(){
		var valId = $(val).parents("ul:first").find("span:first").text();
		$.getJSON('/Api/fixesVul/id/' + valId,function(json){
			swal(json.typeMsg, json.msgText, json.typeMsg);
			if(json.refresh == 1){
				location.reload(true);
			}
		});
	});
}
$(".details-list>li>a").click(function(){
	var valId = $(this).next().find("ul span:first").text();
	$.getJSON('/Api/findVul/id/' + valId,function(json){
		if(json.typeMsg == "error"){
			location.reload(true);
		}
		$(".modal-body").html('\
			<p>\
				<span class="glyphicon glyphicon-link"></span>\
				<b><span>URL：</span></b>\
				<i>'+json.msgText.url+'</i>\
			</p>\
			<p>\
				<span class="glyphicon glyphicon-bookmark"></span>\
				<b><span>Category：</span></b>\
				<i>'+json.msgText.category+'</i>\
			</p>\
			<p>\
				<span class="glyphicon glyphicon-screenshot"></span>\
				<b><span>XssUrl：</span></b>\
				<i>'+base64.decode(json.msgText.xssurl)+'</i>\
			</p>\
			<p>\
				<span class="glyphicon glyphicon-certificate"></span>\
				<b><span>Cookie：</span></b>\
				<i>'+json.msgText.cookies+'</i>\
			</p>\
			<p>\
				<span class="glyphicon glyphicon-user"></span>\
				<b><span>User-Agent：</span></b>\
				<i>'+json.msgText.ua+'</i>\
			</p>\
			<p>\
				<span class="glyphicon glyphicon-user"></span>\
				<b><span>HTTP_X_FORWARDED_FOR：</span></b>\
				<i>'+json.msgText.hxff_ip+'</i>\
			</p>\
			<p>\
				<span class="glyphicon glyphicon-user"></span>\
				<b><span>HTTP_CLIENT_IP：</span></b>\
				<i>'+json.msgText.hci_ip+'</i>\
			</p>\
			<p>\
				<span class="glyphicon glyphicon-user"></span>\
				<b><span>REMOTE_ADDR：</span></b>\
				<i>'+json.msgText.ra_ip+'</i>\
			</p>\
			<p>\
				<span class="glyphicon glyphicon-time"></span>\
				<b><span>Time：</span></b>\
				<i>'+json.msgText.time+'</i>\
			</p>\
		');
	});
});
</script>
</html>