@charset "utf-8";
.details-list {
  font-size: 18px;
  background-color: #fff;
}
.details-list > li {
  margin-top: 1px;
}
.details-list > li > a {
  display: inline-flex;
  padding: 1em;
  padding-top: 0.1em;
  line-height: 42px;
  border: 1px solid #fff;
  width: 94%;
  background-color: #fff;
}
.details-list > li > a:hover {
  transition: border 0.1s ease-in;
  border: 1px solid #337ab7;
}
.details-list > li > a .item-card {
  width: 100%;
  height: 34px;
  background: #fff;
  padding: 4px;
  padding-left: 10px;
}
.details-list > li > a .item-card > span:first-of-type {
  float: left;
  width: 48em;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.details-list > li > a .item-card > small {
  float: right;
  display: block;
  margin-top: 13px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.details-list > li > a .item-card > span:nth-of-type(2) {
  float: right;
  color: #333;
  margin-right: 10px;
}
.details-list > li .btn-group > button:first-of-type {
  -webkit-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
}
.details-list > li .dropdown-menu {
  min-width: 100px;
}
.details-list > li .dropdown-menu li {
  cursor: pointer;
}
.details-list > li .dropdown-menu li a span {
  margin-right: 10px;
}
.modal-body i {
  word-wrap: break-word;
}
